// RESET STYLE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// BASIC STYLE
html {
  scroll-behavior: smooth;
}
body {
  font-family: $textFont;
  font-size: $fontSize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $textHeadings;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: color $transition;
  &:hover {
    color: blue;
  }
}
img {
  display: block;
  width: 100%;
}
.container {
  width: $width;
  margin: 0 auto;
  @media (max-width: 769px) {
    width: 90%;
  }
}
.py {
  padding: $py 0;
  @media (max-width: 769px) {
    padding: ($py / 2) 0;
  }
}
