@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
$textFont: "Roboto", sans-serif;
$textHeadings: "Roboto", sans-serif;
$fontSize: 16px;

$blue: #4831d4;
$green: #ccf381;
$lightgray: #f7f7f7;
$gray: #333;
$white: #fff;

$fontSize: 16px;
$transition: 0.3s ease;

$boxShadow: 0 0px 10px 0px #b7b6b6;
$textShadow: 0 0 2px #333;

$py: 100px;
$width: 80%;
